:root {
    --primary-color: #dddddd;
    --secondary-color: #333333;
    --background-color: #fff;
    --font-dark-color: #333333;
    --font-light-color: #dddddd;
    --font-family: "roboto", sans-serif
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
}

header {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    gap: .5rem;
    height: 5rem;
    background-color: var(--primary-color);
}

header img {
    width: 60px;
    height: auto;
}

header h1 {
    line-height: 1.25rem;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

header small {
    font-size: .75rem;
}

header button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2.5rem;
}

header nav {
    display: none;
}

header nav.show {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 0 1rem;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    line-height: 1.5rem;
}

footer #socialLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer #socialLinks img {
    width: 4rem;
}