#hero {
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

#hero > a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.8rem;
    text-align: right;
    font-weight: bolder;
    box-shadow: 0 0 1rem;

    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
}

main h1 {
    margin: 1rem;
}

main section {
    background-color: var(--primary-color);
    margin: 0 .5rem;
}

main section h2 {
    background-color: var(--secondary-color);
    color: var(--font-light-color);
    padding: .5rem;
    text-align: center;
}

main section {
    min-height: 200px;
}

#forecastSection p {
    padding: 1rem;
    line-height: 2rem;
    margin: 0;
}

#currentWeather {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    line-height: 1.5rem;
}

#currentWeather p {
    justify-self: left;
    margin: 0;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

#currentWeather img {
    justify-self: right;
}

#busineses {
    background-color: transparent;
}

#busineses h2 {
    display: none;
}

#businesesGrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    padding-inline-start: 0;
}

#businesesGrid li {
    list-style: none;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
}

#forecastSection p {
    font-size: 1.5rem;
    line-height: 3rem;
}