@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px) scaleY(.75);
    }
    to {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

main {
    padding: 1rem 0;
    margin: 0 auto;
    width: 90%;
    max-width: 425px;
}

section > h2 {
    text-align: center;
    margin-top: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

label {
    margin-top: 2rem;
}

input, select, textarea {
    margin-top: .5rem;
    height: 2rem;
    padding: 0 .5rem;
}

textarea {
    height: 10rem;
    padding: .5rem;
}

button {
    margin: 1rem 0;
    height: 3rem;
    border-radius: 1rem;
}

#membershipSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    background-color: var(--primary-color);
    padding: 1rem 0;
    border-radius: 1rem;
    text-align: center;
    animation: fadeIn 1.5s;
}

article button {
    text-decoration: none;
    color: var(--font-light-color);
    background-color: var(--secondary-color);
    padding: 0 .75rem;
    border-radius: 1rem;
}

dialog {
    width: 70%;
    max-width: 320px;
    text-align: center;
    border: .25rem solid var(--secondary-color);
    border-radius: 1rem;

}

dialog button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
