@media screen and (min-width: 769px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    header button {
        display: none;
    }

    nav {
        position: relative;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--dark-color);
    }

    nav a {
        line-height: 3rem;
    }

    main {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    main section:last-child {
        grid-column: 1/3;
    }

    #courseButtons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}